<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Link:</strong>
  <%= @video.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>Catégories:</strong>
  <% @clas.each do |c| %>
	<% cat = Category.find(c.category_id) %>
	<%= cat.name %>
  <% end %>
</p>

<p>
<!--   <strong>Vidéo:</strong>
 -->  <%= @video.embed_link.html_safe %>
</p>

<P>
	<% i = 0 %>
	<% while i != 10 %>
		<%= 8 * 5**i %>
		<% i = i + 1 %>
	<% end %>
</P>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
