<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @category.num %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <% if @category.parent_id %>
  <strong>Parent:</strong>
  <%= @category.parent_id %>
  <% end %>
</p>

<p>
  <strong>niveau:</strong>
  <%= @niv %>
</p>

<p>
  <strong>Enfants:</strong>
    <% @category.children.each do |child| %> 
      <tr>
        <td><%= child.id %></td>
      </tr>
    <% end %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
